FamilyBudgetSilverlightApp/Service References/BudgetServiceReference/BudgetService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BudgetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IBudgetService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:5440/WcfServices/BudgetService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5440/WcfServices/BudgetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5440/WcfServices/BudgetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5440/WcfServices/BudgetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.WcfServices.DataContracts" />
      <xsd:import schemaLocation="http://localhost:5440/WcfServices/BudgetService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBudgetService_GetBudget_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBudget" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudget_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBudgetResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudgetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBudgetById" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudgetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBudgetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBudgetService">
    <wsdl:operation name="GetBudget">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetBudget" message="tns:IBudgetService_GetBudget_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetBudgetResponse" message="tns:IBudgetService_GetBudget_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBudgetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetBudgetById" message="tns:IBudgetService_GetBudgetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetBudgetByIdResponse" message="tns:IBudgetService_GetBudgetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IBudgetService" type="tns:IBudgetService">
    <wsp:PolicyReference URI="#CustomBinding_IBudgetService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBudget">
      <soap12:operation soapAction="http://tempuri.org/IBudgetService/GetBudget" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBudgetById">
      <soap12:operation soapAction="http://tempuri.org/IBudgetService/GetBudgetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BudgetService">
    <wsdl:port name="CustomBinding_IBudgetService" binding="tns:CustomBinding_IBudgetService">
      <soap12:address location="http://localhost:5440/WcfServices/BudgetService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5440/WcfServices/BudgetService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_IBudgetService" binding="i0:MetadataExchangeHttpBinding_IBudgetService">
      <soap12:address location="http://localhost:5440/WcfServices/BudgetService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5440/WcfServices/BudgetService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>