FamilyBudgetSilverlightApp/Service References/BudgetServiceReference/BudgetService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5440/WcfServices/BudgetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.WcfServices.DataContracts" />
  <xs:import schemaLocation="http://localhost:5440/WcfServices/BudgetService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.Dto" />
  <xs:element name="GetBudget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.WcfServices.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:GetBudgetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.WcfServices.DataContracts" minOccurs="0" name="GetBudgetResult" nillable="true" type="q2:GetBudgetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="budgetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.Dto" minOccurs="0" name="GetBudgetByIdResult" nillable="true" type="q3:BudgetDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>