FamilyBudgetSilverlightApp/Service References/BudgetServiceReference/BudgetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.WcfServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FamilyBudget_ASP_MVC_APP.WcfServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetBudgetRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BudgetId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBudgetRequest" nillable="true" type="tns:GetBudgetRequest" />
  <xs:complexType name="GetBudgetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetBudgetResponse" nillable="true" type="tns:GetBudgetResponse" />
</xs:schema>